body {
  overflow: hidden;
}

.main {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1874px 1705px #fff, 1647px 1545px #fff, 370px 478px #fff,
    479px 771px #fff, 1313px 1968px #fff, 113px 670px #fff, 1672px 864px #fff,
    228px 407px #fff, 1053px 1228px #fff, 530px 1694px #fff, 278px 1729px #fff,
    1729px 369px #fff, 920px 346px #fff, 1214px 297px #fff, 1927px 205px #fff,
    1998px 1888px #fff, 98px 1432px #fff, 729px 714px #fff, 882px 1107px #fff,
    1533px 999px #fff, 452px 1649px #fff, 1022px 1700px #fff, 68px 29px #fff,
    1974px 1127px #fff, 461px 1265px #fff, 1193px 675px #fff, 479px 1687px #fff,
    1605px 1337px #fff, 1156px 721px #fff, 1116px 21px #fff, 600px 837px #fff,
    1843px 285px #fff, 1280px 1607px #fff, 777px 1003px #fff, 614px 1528px #fff,
    995px 1269px #fff, 963px 757px #fff, 630px 1828px #fff, 272px 673px #fff,
    1424px 744px #fff, 62px 1456px #fff, 479px 834px #fff, 1104px 183px #fff,
    1723px 410px #fff, 1489px 4px #fff, 306px 990px #fff, 1960px 1463px #fff,
    58px 658px #fff, 131px 1170px #fff, 1664px 1526px #fff, 626px 1922px #fff,
    901px 741px #fff, 629px 863px #fff, 537px 198px #fff, 1827px 1277px #fff,
    1901px 1168px #fff, 1600px 136px #fff, 884px 1719px #fff, 1269px 595px #fff,
    1034px 1547px #fff, 1224px 1036px #fff, 1894px 1132px #fff,
    504px 1220px #fff, 986px 1231px #fff, 725px 888px #fff, 1791px 1806px #fff,
    1931px 764px #fff, 1397px 477px #fff, 930px 996px #fff, 1688px 1698px #fff,
    1576px 598px #fff, 1502px 818px #fff, 1506px 527px #fff, 965px 796px #fff,
    579px 817px #fff, 507px 1159px #fff, 759px 1845px #fff, 1513px 136px #fff,
    382px 1035px #fff, 23px 426px #fff, 176px 606px #fff, 1373px 1923px #fff,
    99px 74px #fff, 817px 450px #fff, 1366px 50px #fff, 1228px 532px #fff,
    1542px 960px #fff, 74px 634px #fff, 984px 222px #fff, 208px 574px #fff,
    345px 256px #fff, 1099px 416px #fff, 64px 1815px #fff, 523px 1480px #fff,
    1306px 1704px #fff, 1271px 1950px #fff, 845px 1253px #fff, 326px 763px #fff,
    389px 1234px #fff, 690px 1621px #fff, 40px 1268px #fff, 1296px 964px #fff,
    726px 1478px #fff, 339px 1571px #fff, 1683px 1672px #fff, 1875px 12px #fff,
    1642px 626px #fff, 1419px 628px #fff, 1738px 294px #fff, 911px 857px #fff,
    1000px 1316px #fff, 1861px 572px #fff, 1045px 1275px #fff, 1474px 399px #fff,
    1371px 691px #fff, 1537px 977px #fff, 144px 23px #fff, 1810px 1561px #fff,
    630px 80px #fff, 1083px 1904px #fff, 1359px 309px #fff, 402px 1519px #fff,
    14px 1342px #fff, 700px 1832px #fff, 354px 60px #fff, 1672px 215px #fff,
    275px 75px #fff, 1157px 1339px #fff, 1374px 441px #fff, 1707px 1045px #fff,
    1878px 1176px #fff, 846px 1572px #fff, 1233px 1764px #fff, 689px 1489px #fff,
    1425px 390px #fff, 961px 1292px #fff, 793px 1377px #fff, 1826px 916px #fff,
    942px 815px #fff, 1800px 335px #fff, 1140px 136px #fff, 227px 678px #fff,
    386px 1404px #fff, 1485px 897px #fff, 1848px 990px #fff, 674px 1915px #fff,
    1076px 1291px #fff, 1911px 704px #fff, 73px 1649px #fff, 196px 1275px #fff,
    758px 1901px #fff, 1574px 1119px #fff, 1563px 1351px #fff, 883px 695px #fff,
    1554px 532px #fff, 27px 597px #fff, 1536px 1348px #fff, 905px 1956px #fff,
    1158px 1592px #fff, 1301px 1477px #fff, 1252px 1943px #fff, 975px 292px #fff,
    388px 49px #fff, 1938px 1158px #fff, 1719px 1682px #fff, 62px 361px #fff,
    1138px 98px #fff, 88px 769px #fff, 691px 308px #fff, 495px 596px #fff,
    767px 40px #fff, 205px 1591px #fff, 22px 1906px #fff, 1048px 1919px #fff,
    1893px 711px #fff, 1290px 353px #fff, 1961px 736px #fff, 959px 1550px #fff,
    1050px 873px #fff, 749px 1536px #fff, 727px 697px #fff, 1686px 1686px #fff,
    1094px 840px #fff, 410px 153px #fff, 1336px 1336px #fff, 966px 1973px #fff,
    1756px 1751px #fff, 497px 1581px #fff, 859px 1000px #fff, 794px 204px #fff,
    267px 108px #fff, 1833px 524px #fff, 994px 1320px #fff, 304px 1703px #fff,
    1772px 1042px #fff, 1481px 970px #fff, 385px 164px #fff, 174px 1880px #fff,
    1123px 838px #fff, 1184px 225px #fff, 501px 466px #fff, 20px 1377px #fff,
    59px 1435px #fff, 1827px 1642px #fff, 607px 881px #fff, 1466px 613px #fff,
    678px 1334px #fff, 1640px 1127px #fff, 1573px 1503px #fff, 1279px 562px #fff,
    349px 664px #fff, 682px 1488px #fff, 621px 1207px #fff, 723px 374px #fff,
    1251px 1742px #fff, 1184px 630px #fff, 1776px 1203px #fff, 435px 305px #fff,
    634px 1948px #fff, 1450px 131px #fff, 1137px 315px #fff, 705px 634px #fff,
    1694px 15px #fff, 1822px 1927px #fff, 457px 107px #fff, 1022px 1835px #fff,
    1105px 948px #fff, 284px 587px #fff, 216px 466px #fff, 1076px 222px #fff,
    1167px 1373px #fff, 1596px 578px #fff, 1312px 159px #fff, 1555px 1269px #fff,
    44px 1811px #fff, 859px 1488px #fff, 406px 1166px #fff, 1932px 308px #fff,
    1356px 1297px #fff, 1735px 1653px #fff, 1586px 654px #fff,
    1644px 1467px #fff, 1777px 471px #fff, 99px 534px #fff, 377px 135px #fff,
    1053px 650px #fff, 258px 1981px #fff, 104px 508px #fff, 1800px 130px #fff,
    1716px 1981px #fff, 1026px 1133px #fff, 1274px 462px #fff,
    1442px 1158px #fff, 820px 1496px #fff, 609px 925px #fff, 1001px 796px #fff,
    672px 1006px #fff, 503px 494px #fff, 696px 1214px #fff, 863px 1915px #fff,
    609px 1103px #fff, 582px 147px #fff, 1813px 633px #fff, 1913px 449px #fff,
    226px 1277px #fff, 267px 1538px #fff, 1595px 1737px #fff, 553px 789px #fff,
    675px 30px #fff, 79px 792px #fff, 1147px 787px #fff, 443px 429px #fff,
    1247px 557px #fff, 189px 713px #fff, 1472px 226px #fff, 1545px 174px #fff,
    1468px 1897px #fff, 898px 1502px #fff, 1503px 1334px #fff, 332px 1116px #fff,
    1613px 935px #fff, 1169px 1592px #fff, 618px 1486px #fff, 308px 1384px #fff,
    1123px 1960px #fff, 1883px 600px #fff, 616px 819px #fff, 713px 1966px #fff,
    1215px 89px #fff, 1997px 299px #fff, 1032px 1681px #fff, 1813px 1829px #fff,
    195px 330px #fff, 893px 1824px #fff, 732px 1046px #fff, 831px 1488px #fff,
    1030px 877px #fff, 211px 914px #fff, 717px 1949px #fff, 360px 51px #fff,
    995px 1935px #fff, 1596px 170px #fff, 1765px 1048px #fff, 1374px 1571px #fff,
    1961px 1428px #fff, 1281px 890px #fff, 144px 265px #fff, 109px 107px #fff,
    1229px 545px #fff, 217px 1198px #fff, 295px 1219px #fff, 490px 44px #fff,
    953px 1999px #fff, 833px 558px #fff, 1869px 1891px #fff, 1787px 941px #fff,
    958px 1973px #fff, 1788px 637px #fff, 570px 1690px #fff, 295px 1224px #fff,
    966px 1140px #fff, 822px 1411px #fff, 790px 991px #fff, 363px 1306px #fff,
    760px 1784px #fff, 1692px 261px #fff, 309px 1861px #fff, 1756px 669px #fff,
    334px 1289px #fff, 598px 1892px #fff, 809px 166px #fff, 1079px 1529px #fff,
    1489px 91px #fff, 1969px 555px #fff, 361px 394px #fff, 774px 947px #fff,
    538px 57px #fff, 285px 974px #fff, 1754px 17px #fff, 976px 1902px #fff,
    728px 1809px #fff, 1403px 74px #fff, 1616px 70px #fff, 1146px 1852px #fff,
    228px 1860px #fff, 1464px 408px #fff, 1985px 1830px #fff, 1308px 455px #fff,
    34px 329px #fff, 935px 1685px #fff, 1560px 196px #fff, 127px 1013px #fff,
    1223px 1804px #fff, 992px 666px #fff, 519px 312px #fff, 1754px 1339px #fff,
    1811px 1179px #fff, 1929px 254px #fff, 476px 1585px #fff, 1212px 758px #fff,
    512px 1183px #fff, 1860px 142px #fff, 1899px 212px #fff, 1583px 1808px #fff,
    1558px 227px #fff, 1891px 1225px #fff, 1089px 1992px #fff,
    1473px 1457px #fff, 893px 411px #fff, 1589px 1360px #fff, 1270px 135px #fff,
    1368px 566px #fff, 1772px 966px #fff, 1777px 1612px #fff, 783px 1711px #fff,
    454px 551px #fff, 192px 530px #fff, 1191px 1945px #fff, 1396px 659px #fff,
    1178px 1098px #fff, 1491px 188px #fff, 224px 847px #fff, 1300px 1166px #fff,
    266px 429px #fff, 647px 1801px #fff, 1664px 632px #fff, 451px 1577px #fff,
    641px 1496px #fff, 1576px 1851px #fff, 1412px 567px #fff, 584px 460px #fff,
    345px 593px #fff, 306px 388px #fff, 1294px 240px #fff, 1828px 416px #fff,
    1228px 912px #fff, 1961px 630px #fff, 1655px 1291px #fff, 1142px 1207px #fff,
    1138px 1319px #fff, 1100px 1659px #fff, 589px 1428px #fff, 194px 475px #fff,
    145px 235px #fff, 1510px 806px #fff, 1772px 1820px #fff, 913px 1465px #fff,
    1548px 179px #fff, 1579px 37px #fff, 1971px 978px #fff, 802px 1236px #fff,
    1812px 512px #fff, 842px 771px #fff, 899px 1877px #fff, 790px 462px #fff,
    1821px 85px #fff, 80px 85px #fff, 1112px 970px #fff, 923px 1683px #fff,
    158px 1734px #fff, 617px 1507px #fff, 1476px 1877px #fff, 1169px 1884px #fff,
    1094px 1573px #fff, 1602px 504px #fff, 666px 1850px #fff, 897px 1985px #fff,
    556px 647px #fff, 1926px 281px #fff, 128px 1591px #fff, 932px 809px #fff,
    1015px 1045px #fff, 1954px 1114px #fff, 1327px 1219px #fff,
    594px 1955px #fff, 1727px 731px #fff, 211px 1465px #fff, 1064px 519px #fff,
    174px 912px #fff, 741px 889px #fff, 1260px 1064px #fff, 1213px 1702px #fff,
    849px 1092px #fff, 100px 925px #fff, 1762px 1262px #fff, 237px 894px #fff,
    1177px 53px #fff, 1556px 1084px #fff, 307px 736px #fff, 1691px 1961px #fff,
    264px 1405px #fff, 222px 765px #fff, 1819px 878px #fff, 219px 1893px #fff,
    1048px 679px #fff, 162px 1768px #fff, 1197px 1867px #fff, 943px 816px #fff,
    1115px 999px #fff, 578px 1507px #fff, 1871px 147px #fff, 598px 369px #fff,
    1941px 104px #fff, 18px 1839px #fff, 295px 394px #fff, 771px 299px #fff,
    1424px 7px #fff, 689px 1764px #fff, 1646px 523px #fff, 1336px 1481px #fff,
    592px 602px #fff, 265px 1312px #fff, 1946px 1736px #fff, 1864px 1062px #fff,
    489px 27px #fff, 589px 377px #fff, 1751px 840px #fff, 586px 1648px #fff,
    1999px 1606px #fff, 673px 1914px #fff, 1507px 1373px #fff, 1008px 923px #fff,
    473px 422px #fff, 1858px 1345px #fff, 193px 1144px #fff, 1565px 364px #fff,
    947px 970px #fff, 1300px 328px #fff, 967px 1630px #fff, 1256px 361px #fff,
    1205px 130px #fff, 1486px 209px #fff, 1531px 1693px #fff, 1225px 206px #fff,
    134px 220px #fff, 82px 371px #fff, 954px 262px #fff, 879px 1354px #fff,
    337px 313px #fff, 452px 1595px #fff, 972px 1964px #fff, 654px 1006px #fff,
    503px 1127px #fff, 1123px 1763px #fff, 1351px 1652px #fff, 579px 715px #fff,
    1281px 395px #fff, 1351px 547px #fff, 656px 1652px #fff, 775px 1621px #fff,
    710px 20px #fff, 828px 613px #fff, 1383px 1862px #fff, 714px 347px #fff,
    749px 1284px #fff, 675px 56px #fff, 1343px 298px #fff, 1201px 1760px #fff,
    225px 998px #fff, 1156px 765px #fff, 1852px 83px #fff, 976px 1812px #fff,
    1361px 277px #fff, 643px 960px #fff, 509px 17px #fff, 1673px 458px #fff,
    1359px 770px #fff, 1151px 1596px #fff, 1478px 558px #fff, 822px 131px #fff,
    1749px 886px #fff, 1495px 96px #fff, 1931px 25px #fff, 514px 600px #fff,
    291px 395px #fff, 102px 631px #fff, 1447px 1702px #fff, 535px 179px #fff,
    1356px 1617px #fff, 205px 1890px #fff, 1338px 1267px #fff, 1661px 241px #fff,
    1508px 522px #fff, 1452px 1254px #fff, 27px 886px #fff, 1749px 756px #fff,
    1871px 1629px #fff, 1777px 1136px #fff, 814px 983px #fff, 412px 1577px #fff,
    163px 1658px #fff, 1477px 1351px #fff, 162px 1756px #fff, 447px 262px #fff,
    413px 1002px #fff, 1770px 1357px #fff, 1468px 1137px #fff, 780px 1637px #fff,
    1478px 191px #fff, 1222px 51px #fff, 1747px 502px #fff, 1091px 1086px #fff,
    1411px 1231px #fff, 1469px 1376px #fff, 371px 642px #fff, 838px 1943px #fff,
    513px 974px #fff, 531px 434px #fff, 1309px 1797px #fff, 1436px 1358px #fff,
    1771px 116px #fff, 529px 336px #fff, 636px 1834px #fff, 1614px 1759px #fff,
    837px 720px #fff, 1220px 731px #fff, 573px 232px #fff, 712px 1717px #fff,
    1654px 1485px #fff, 385px 269px #fff, 412px 538px #fff, 1462px 420px #fff,
    1950px 466px #fff, 283px 1470px #fff, 179px 718px #fff, 340px 753px #fff,
    354px 1723px #fff, 372px 1198px #fff, 748px 238px #fff, 766px 644px #fff,
    747px 230px #fff, 1189px 771px #fff, 835px 780px #fff, 368px 555px #fff,
    128px 1213px #fff, 1491px 858px #fff, 136px 45px #fff, 1466px 1715px #fff,
    1320px 274px #fff, 1276px 1662px #fff, 1841px 1784px #fff, 620px 1069px #fff,
    972px 304px #fff, 1914px 164px #fff, 125px 1864px #fff, 1912px 1569px #fff,
    1601px 317px #fff, 309px 853px #fff, 208px 169px #fff, 284px 1127px #fff,
    398px 1184px #fff, 1517px 1063px #fff, 1064px 880px #fff, 1130px 55px #fff,
    1364px 203px #fff, 1338px 930px #fff, 1671px 415px #fff, 1925px 699px #fff,
    580px 1684px #fff, 1247px 765px #fff, 1840px 1982px #fff, 759px 466px #fff,
    571px 915px #fff, 1413px 800px #fff, 533px 1470px #fff, 1425px 1263px #fff,
    270px 1055px #fff, 1713px 1557px #fff, 561px 1727px #fff, 1082px 1279px #fff,
    346px 1869px #fff, 889px 1696px #fff, 1098px 9px #fff, 1112px 746px #fff,
    553px 1192px #fff, 330px 801px #fff, 1608px 963px #fff, 407px 1509px #fff,
    930px 201px #fff, 1067px 1632px #fff, 1872px 1797px #fff, 1106px 1117px #fff,
    1139px 1761px #fff, 1885px 383px #fff, 1909px 1356px #fff, 1421px 420px #fff,
    331px 35px #fff, 822px 34px #fff, 1655px 1587px #fff, 1773px 1591px #fff,
    11px 700px #fff, 1235px 773px #fff, 1466px 1368px #fff, 1368px 648px #fff,
    965px 1305px #fff, 1210px 552px #fff, 1756px 1249px #fff, 1629px 18px #fff,
    633px 1368px #fff, 1611px 1127px #fff, 361px 1415px #fff, 1233px 837px #fff,
    741px 1755px #fff, 1800px 1269px #fff, 1454px 1936px #fff,
    1063px 1943px #fff, 1941px 1527px #fff, 1415px 1103px #fff, 646px 69px #fff,
    1165px 482px #fff, 1921px 1054px #fff, 1642px 1238px #fff, 984px 81px #fff,
    1065px 1082px #fff, 1801px 1510px #fff, 1321px 1596px #fff,
    1633px 1596px #fff, 548px 965px #fff, 1146px 1449px #fff, 1009px 490px #fff,
    1487px 497px #fff, 1363px 345px #fff, 376px 123px #fff, 1131px 431px #fff,
    916px 1288px #fff, 365px 1282px #fff, 1346px 1965px #fff, 1356px 196px #fff,
    32px 1513px #fff, 317px 1208px #fff, 1131px 792px #fff, 992px 1285px #fff,
    689px 1909px #fff, 739px 1283px #fff, 1529px 819px #fff, 286px 286px #fff,
    1654px 1189px #fff, 499px 107px #fff, 768px 685px #fff, 826px 1042px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1874px 1705px #fff, 1647px 1545px #fff, 370px 478px #fff,
    479px 771px #fff, 1313px 1968px #fff, 113px 670px #fff, 1672px 864px #fff,
    228px 407px #fff, 1053px 1228px #fff, 530px 1694px #fff, 278px 1729px #fff,
    1729px 369px #fff, 920px 346px #fff, 1214px 297px #fff, 1927px 205px #fff,
    1998px 1888px #fff, 98px 1432px #fff, 729px 714px #fff, 882px 1107px #fff,
    1533px 999px #fff, 452px 1649px #fff, 1022px 1700px #fff, 68px 29px #fff,
    1974px 1127px #fff, 461px 1265px #fff, 1193px 675px #fff, 479px 1687px #fff,
    1605px 1337px #fff, 1156px 721px #fff, 1116px 21px #fff, 600px 837px #fff,
    1843px 285px #fff, 1280px 1607px #fff, 777px 1003px #fff, 614px 1528px #fff,
    995px 1269px #fff, 963px 757px #fff, 630px 1828px #fff, 272px 673px #fff,
    1424px 744px #fff, 62px 1456px #fff, 479px 834px #fff, 1104px 183px #fff,
    1723px 410px #fff, 1489px 4px #fff, 306px 990px #fff, 1960px 1463px #fff,
    58px 658px #fff, 131px 1170px #fff, 1664px 1526px #fff, 626px 1922px #fff,
    901px 741px #fff, 629px 863px #fff, 537px 198px #fff, 1827px 1277px #fff,
    1901px 1168px #fff, 1600px 136px #fff, 884px 1719px #fff, 1269px 595px #fff,
    1034px 1547px #fff, 1224px 1036px #fff, 1894px 1132px #fff,
    504px 1220px #fff, 986px 1231px #fff, 725px 888px #fff, 1791px 1806px #fff,
    1931px 764px #fff, 1397px 477px #fff, 930px 996px #fff, 1688px 1698px #fff,
    1576px 598px #fff, 1502px 818px #fff, 1506px 527px #fff, 965px 796px #fff,
    579px 817px #fff, 507px 1159px #fff, 759px 1845px #fff, 1513px 136px #fff,
    382px 1035px #fff, 23px 426px #fff, 176px 606px #fff, 1373px 1923px #fff,
    99px 74px #fff, 817px 450px #fff, 1366px 50px #fff, 1228px 532px #fff,
    1542px 960px #fff, 74px 634px #fff, 984px 222px #fff, 208px 574px #fff,
    345px 256px #fff, 1099px 416px #fff, 64px 1815px #fff, 523px 1480px #fff,
    1306px 1704px #fff, 1271px 1950px #fff, 845px 1253px #fff, 326px 763px #fff,
    389px 1234px #fff, 690px 1621px #fff, 40px 1268px #fff, 1296px 964px #fff,
    726px 1478px #fff, 339px 1571px #fff, 1683px 1672px #fff, 1875px 12px #fff,
    1642px 626px #fff, 1419px 628px #fff, 1738px 294px #fff, 911px 857px #fff,
    1000px 1316px #fff, 1861px 572px #fff, 1045px 1275px #fff, 1474px 399px #fff,
    1371px 691px #fff, 1537px 977px #fff, 144px 23px #fff, 1810px 1561px #fff,
    630px 80px #fff, 1083px 1904px #fff, 1359px 309px #fff, 402px 1519px #fff,
    14px 1342px #fff, 700px 1832px #fff, 354px 60px #fff, 1672px 215px #fff,
    275px 75px #fff, 1157px 1339px #fff, 1374px 441px #fff, 1707px 1045px #fff,
    1878px 1176px #fff, 846px 1572px #fff, 1233px 1764px #fff, 689px 1489px #fff,
    1425px 390px #fff, 961px 1292px #fff, 793px 1377px #fff, 1826px 916px #fff,
    942px 815px #fff, 1800px 335px #fff, 1140px 136px #fff, 227px 678px #fff,
    386px 1404px #fff, 1485px 897px #fff, 1848px 990px #fff, 674px 1915px #fff,
    1076px 1291px #fff, 1911px 704px #fff, 73px 1649px #fff, 196px 1275px #fff,
    758px 1901px #fff, 1574px 1119px #fff, 1563px 1351px #fff, 883px 695px #fff,
    1554px 532px #fff, 27px 597px #fff, 1536px 1348px #fff, 905px 1956px #fff,
    1158px 1592px #fff, 1301px 1477px #fff, 1252px 1943px #fff, 975px 292px #fff,
    388px 49px #fff, 1938px 1158px #fff, 1719px 1682px #fff, 62px 361px #fff,
    1138px 98px #fff, 88px 769px #fff, 691px 308px #fff, 495px 596px #fff,
    767px 40px #fff, 205px 1591px #fff, 22px 1906px #fff, 1048px 1919px #fff,
    1893px 711px #fff, 1290px 353px #fff, 1961px 736px #fff, 959px 1550px #fff,
    1050px 873px #fff, 749px 1536px #fff, 727px 697px #fff, 1686px 1686px #fff,
    1094px 840px #fff, 410px 153px #fff, 1336px 1336px #fff, 966px 1973px #fff,
    1756px 1751px #fff, 497px 1581px #fff, 859px 1000px #fff, 794px 204px #fff,
    267px 108px #fff, 1833px 524px #fff, 994px 1320px #fff, 304px 1703px #fff,
    1772px 1042px #fff, 1481px 970px #fff, 385px 164px #fff, 174px 1880px #fff,
    1123px 838px #fff, 1184px 225px #fff, 501px 466px #fff, 20px 1377px #fff,
    59px 1435px #fff, 1827px 1642px #fff, 607px 881px #fff, 1466px 613px #fff,
    678px 1334px #fff, 1640px 1127px #fff, 1573px 1503px #fff, 1279px 562px #fff,
    349px 664px #fff, 682px 1488px #fff, 621px 1207px #fff, 723px 374px #fff,
    1251px 1742px #fff, 1184px 630px #fff, 1776px 1203px #fff, 435px 305px #fff,
    634px 1948px #fff, 1450px 131px #fff, 1137px 315px #fff, 705px 634px #fff,
    1694px 15px #fff, 1822px 1927px #fff, 457px 107px #fff, 1022px 1835px #fff,
    1105px 948px #fff, 284px 587px #fff, 216px 466px #fff, 1076px 222px #fff,
    1167px 1373px #fff, 1596px 578px #fff, 1312px 159px #fff, 1555px 1269px #fff,
    44px 1811px #fff, 859px 1488px #fff, 406px 1166px #fff, 1932px 308px #fff,
    1356px 1297px #fff, 1735px 1653px #fff, 1586px 654px #fff,
    1644px 1467px #fff, 1777px 471px #fff, 99px 534px #fff, 377px 135px #fff,
    1053px 650px #fff, 258px 1981px #fff, 104px 508px #fff, 1800px 130px #fff,
    1716px 1981px #fff, 1026px 1133px #fff, 1274px 462px #fff,
    1442px 1158px #fff, 820px 1496px #fff, 609px 925px #fff, 1001px 796px #fff,
    672px 1006px #fff, 503px 494px #fff, 696px 1214px #fff, 863px 1915px #fff,
    609px 1103px #fff, 582px 147px #fff, 1813px 633px #fff, 1913px 449px #fff,
    226px 1277px #fff, 267px 1538px #fff, 1595px 1737px #fff, 553px 789px #fff,
    675px 30px #fff, 79px 792px #fff, 1147px 787px #fff, 443px 429px #fff,
    1247px 557px #fff, 189px 713px #fff, 1472px 226px #fff, 1545px 174px #fff,
    1468px 1897px #fff, 898px 1502px #fff, 1503px 1334px #fff, 332px 1116px #fff,
    1613px 935px #fff, 1169px 1592px #fff, 618px 1486px #fff, 308px 1384px #fff,
    1123px 1960px #fff, 1883px 600px #fff, 616px 819px #fff, 713px 1966px #fff,
    1215px 89px #fff, 1997px 299px #fff, 1032px 1681px #fff, 1813px 1829px #fff,
    195px 330px #fff, 893px 1824px #fff, 732px 1046px #fff, 831px 1488px #fff,
    1030px 877px #fff, 211px 914px #fff, 717px 1949px #fff, 360px 51px #fff,
    995px 1935px #fff, 1596px 170px #fff, 1765px 1048px #fff, 1374px 1571px #fff,
    1961px 1428px #fff, 1281px 890px #fff, 144px 265px #fff, 109px 107px #fff,
    1229px 545px #fff, 217px 1198px #fff, 295px 1219px #fff, 490px 44px #fff,
    953px 1999px #fff, 833px 558px #fff, 1869px 1891px #fff, 1787px 941px #fff,
    958px 1973px #fff, 1788px 637px #fff, 570px 1690px #fff, 295px 1224px #fff,
    966px 1140px #fff, 822px 1411px #fff, 790px 991px #fff, 363px 1306px #fff,
    760px 1784px #fff, 1692px 261px #fff, 309px 1861px #fff, 1756px 669px #fff,
    334px 1289px #fff, 598px 1892px #fff, 809px 166px #fff, 1079px 1529px #fff,
    1489px 91px #fff, 1969px 555px #fff, 361px 394px #fff, 774px 947px #fff,
    538px 57px #fff, 285px 974px #fff, 1754px 17px #fff, 976px 1902px #fff,
    728px 1809px #fff, 1403px 74px #fff, 1616px 70px #fff, 1146px 1852px #fff,
    228px 1860px #fff, 1464px 408px #fff, 1985px 1830px #fff, 1308px 455px #fff,
    34px 329px #fff, 935px 1685px #fff, 1560px 196px #fff, 127px 1013px #fff,
    1223px 1804px #fff, 992px 666px #fff, 519px 312px #fff, 1754px 1339px #fff,
    1811px 1179px #fff, 1929px 254px #fff, 476px 1585px #fff, 1212px 758px #fff,
    512px 1183px #fff, 1860px 142px #fff, 1899px 212px #fff, 1583px 1808px #fff,
    1558px 227px #fff, 1891px 1225px #fff, 1089px 1992px #fff,
    1473px 1457px #fff, 893px 411px #fff, 1589px 1360px #fff, 1270px 135px #fff,
    1368px 566px #fff, 1772px 966px #fff, 1777px 1612px #fff, 783px 1711px #fff,
    454px 551px #fff, 192px 530px #fff, 1191px 1945px #fff, 1396px 659px #fff,
    1178px 1098px #fff, 1491px 188px #fff, 224px 847px #fff, 1300px 1166px #fff,
    266px 429px #fff, 647px 1801px #fff, 1664px 632px #fff, 451px 1577px #fff,
    641px 1496px #fff, 1576px 1851px #fff, 1412px 567px #fff, 584px 460px #fff,
    345px 593px #fff, 306px 388px #fff, 1294px 240px #fff, 1828px 416px #fff,
    1228px 912px #fff, 1961px 630px #fff, 1655px 1291px #fff, 1142px 1207px #fff,
    1138px 1319px #fff, 1100px 1659px #fff, 589px 1428px #fff, 194px 475px #fff,
    145px 235px #fff, 1510px 806px #fff, 1772px 1820px #fff, 913px 1465px #fff,
    1548px 179px #fff, 1579px 37px #fff, 1971px 978px #fff, 802px 1236px #fff,
    1812px 512px #fff, 842px 771px #fff, 899px 1877px #fff, 790px 462px #fff,
    1821px 85px #fff, 80px 85px #fff, 1112px 970px #fff, 923px 1683px #fff,
    158px 1734px #fff, 617px 1507px #fff, 1476px 1877px #fff, 1169px 1884px #fff,
    1094px 1573px #fff, 1602px 504px #fff, 666px 1850px #fff, 897px 1985px #fff,
    556px 647px #fff, 1926px 281px #fff, 128px 1591px #fff, 932px 809px #fff,
    1015px 1045px #fff, 1954px 1114px #fff, 1327px 1219px #fff,
    594px 1955px #fff, 1727px 731px #fff, 211px 1465px #fff, 1064px 519px #fff,
    174px 912px #fff, 741px 889px #fff, 1260px 1064px #fff, 1213px 1702px #fff,
    849px 1092px #fff, 100px 925px #fff, 1762px 1262px #fff, 237px 894px #fff,
    1177px 53px #fff, 1556px 1084px #fff, 307px 736px #fff, 1691px 1961px #fff,
    264px 1405px #fff, 222px 765px #fff, 1819px 878px #fff, 219px 1893px #fff,
    1048px 679px #fff, 162px 1768px #fff, 1197px 1867px #fff, 943px 816px #fff,
    1115px 999px #fff, 578px 1507px #fff, 1871px 147px #fff, 598px 369px #fff,
    1941px 104px #fff, 18px 1839px #fff, 295px 394px #fff, 771px 299px #fff,
    1424px 7px #fff, 689px 1764px #fff, 1646px 523px #fff, 1336px 1481px #fff,
    592px 602px #fff, 265px 1312px #fff, 1946px 1736px #fff, 1864px 1062px #fff,
    489px 27px #fff, 589px 377px #fff, 1751px 840px #fff, 586px 1648px #fff,
    1999px 1606px #fff, 673px 1914px #fff, 1507px 1373px #fff, 1008px 923px #fff,
    473px 422px #fff, 1858px 1345px #fff, 193px 1144px #fff, 1565px 364px #fff,
    947px 970px #fff, 1300px 328px #fff, 967px 1630px #fff, 1256px 361px #fff,
    1205px 130px #fff, 1486px 209px #fff, 1531px 1693px #fff, 1225px 206px #fff,
    134px 220px #fff, 82px 371px #fff, 954px 262px #fff, 879px 1354px #fff,
    337px 313px #fff, 452px 1595px #fff, 972px 1964px #fff, 654px 1006px #fff,
    503px 1127px #fff, 1123px 1763px #fff, 1351px 1652px #fff, 579px 715px #fff,
    1281px 395px #fff, 1351px 547px #fff, 656px 1652px #fff, 775px 1621px #fff,
    710px 20px #fff, 828px 613px #fff, 1383px 1862px #fff, 714px 347px #fff,
    749px 1284px #fff, 675px 56px #fff, 1343px 298px #fff, 1201px 1760px #fff,
    225px 998px #fff, 1156px 765px #fff, 1852px 83px #fff, 976px 1812px #fff,
    1361px 277px #fff, 643px 960px #fff, 509px 17px #fff, 1673px 458px #fff,
    1359px 770px #fff, 1151px 1596px #fff, 1478px 558px #fff, 822px 131px #fff,
    1749px 886px #fff, 1495px 96px #fff, 1931px 25px #fff, 514px 600px #fff,
    291px 395px #fff, 102px 631px #fff, 1447px 1702px #fff, 535px 179px #fff,
    1356px 1617px #fff, 205px 1890px #fff, 1338px 1267px #fff, 1661px 241px #fff,
    1508px 522px #fff, 1452px 1254px #fff, 27px 886px #fff, 1749px 756px #fff,
    1871px 1629px #fff, 1777px 1136px #fff, 814px 983px #fff, 412px 1577px #fff,
    163px 1658px #fff, 1477px 1351px #fff, 162px 1756px #fff, 447px 262px #fff,
    413px 1002px #fff, 1770px 1357px #fff, 1468px 1137px #fff, 780px 1637px #fff,
    1478px 191px #fff, 1222px 51px #fff, 1747px 502px #fff, 1091px 1086px #fff,
    1411px 1231px #fff, 1469px 1376px #fff, 371px 642px #fff, 838px 1943px #fff,
    513px 974px #fff, 531px 434px #fff, 1309px 1797px #fff, 1436px 1358px #fff,
    1771px 116px #fff, 529px 336px #fff, 636px 1834px #fff, 1614px 1759px #fff,
    837px 720px #fff, 1220px 731px #fff, 573px 232px #fff, 712px 1717px #fff,
    1654px 1485px #fff, 385px 269px #fff, 412px 538px #fff, 1462px 420px #fff,
    1950px 466px #fff, 283px 1470px #fff, 179px 718px #fff, 340px 753px #fff,
    354px 1723px #fff, 372px 1198px #fff, 748px 238px #fff, 766px 644px #fff,
    747px 230px #fff, 1189px 771px #fff, 835px 780px #fff, 368px 555px #fff,
    128px 1213px #fff, 1491px 858px #fff, 136px 45px #fff, 1466px 1715px #fff,
    1320px 274px #fff, 1276px 1662px #fff, 1841px 1784px #fff, 620px 1069px #fff,
    972px 304px #fff, 1914px 164px #fff, 125px 1864px #fff, 1912px 1569px #fff,
    1601px 317px #fff, 309px 853px #fff, 208px 169px #fff, 284px 1127px #fff,
    398px 1184px #fff, 1517px 1063px #fff, 1064px 880px #fff, 1130px 55px #fff,
    1364px 203px #fff, 1338px 930px #fff, 1671px 415px #fff, 1925px 699px #fff,
    580px 1684px #fff, 1247px 765px #fff, 1840px 1982px #fff, 759px 466px #fff,
    571px 915px #fff, 1413px 800px #fff, 533px 1470px #fff, 1425px 1263px #fff,
    270px 1055px #fff, 1713px 1557px #fff, 561px 1727px #fff, 1082px 1279px #fff,
    346px 1869px #fff, 889px 1696px #fff, 1098px 9px #fff, 1112px 746px #fff,
    553px 1192px #fff, 330px 801px #fff, 1608px 963px #fff, 407px 1509px #fff,
    930px 201px #fff, 1067px 1632px #fff, 1872px 1797px #fff, 1106px 1117px #fff,
    1139px 1761px #fff, 1885px 383px #fff, 1909px 1356px #fff, 1421px 420px #fff,
    331px 35px #fff, 822px 34px #fff, 1655px 1587px #fff, 1773px 1591px #fff,
    11px 700px #fff, 1235px 773px #fff, 1466px 1368px #fff, 1368px 648px #fff,
    965px 1305px #fff, 1210px 552px #fff, 1756px 1249px #fff, 1629px 18px #fff,
    633px 1368px #fff, 1611px 1127px #fff, 361px 1415px #fff, 1233px 837px #fff,
    741px 1755px #fff, 1800px 1269px #fff, 1454px 1936px #fff,
    1063px 1943px #fff, 1941px 1527px #fff, 1415px 1103px #fff, 646px 69px #fff,
    1165px 482px #fff, 1921px 1054px #fff, 1642px 1238px #fff, 984px 81px #fff,
    1065px 1082px #fff, 1801px 1510px #fff, 1321px 1596px #fff,
    1633px 1596px #fff, 548px 965px #fff, 1146px 1449px #fff, 1009px 490px #fff,
    1487px 497px #fff, 1363px 345px #fff, 376px 123px #fff, 1131px 431px #fff,
    916px 1288px #fff, 365px 1282px #fff, 1346px 1965px #fff, 1356px 196px #fff,
    32px 1513px #fff, 317px 1208px #fff, 1131px 792px #fff, 992px 1285px #fff,
    689px 1909px #fff, 739px 1283px #fff, 1529px 819px #fff, 286px 286px #fff,
    1654px 1189px #fff, 499px 107px #fff, 768px 685px #fff, 826px 1042px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 522px 1243px #fff, 1929px 11px #fff, 144px 626px #fff,
    93px 1696px #fff, 1767px 1780px #fff, 1005px 812px #fff, 1143px 200px #fff,
    1398px 878px #fff, 618px 1499px #fff, 964px 1835px #fff, 1923px 56px #fff,
    565px 520px #fff, 185px 1287px #fff, 588px 487px #fff, 84px 1273px #fff,
    755px 1602px #fff, 1544px 1558px #fff, 1574px 1618px #fff, 440px 881px #fff,
    328px 1905px #fff, 1241px 1451px #fff, 1451px 85px #fff, 277px 370px #fff,
    1343px 799px #fff, 767px 606px #fff, 372px 774px #fff, 641px 302px #fff,
    950px 430px #fff, 634px 190px #fff, 1304px 5px #fff, 363px 1131px #fff,
    1995px 1390px #fff, 383px 1131px #fff, 1922px 1139px #fff,
    1766px 1145px #fff, 126px 1399px #fff, 343px 1617px #fff, 543px 81px #fff,
    1017px 748px #fff, 1177px 1332px #fff, 729px 359px #fff, 1469px 1194px #fff,
    891px 1111px #fff, 1326px 1505px #fff, 872px 1512px #fff, 297px 1347px #fff,
    1061px 1008px #fff, 349px 31px #fff, 1624px 1233px #fff, 1285px 374px #fff,
    1728px 1391px #fff, 964px 1389px #fff, 790px 873px #fff, 819px 1285px #fff,
    735px 1950px #fff, 383px 1804px #fff, 1159px 1479px #fff, 1596px 798px #fff,
    1155px 1685px #fff, 81px 1390px #fff, 582px 1558px #fff, 1376px 625px #fff,
    1606px 263px #fff, 1494px 673px #fff, 836px 1814px #fff, 189px 489px #fff,
    925px 1191px #fff, 159px 1575px #fff, 1216px 1021px #fff, 197px 946px #fff,
    935px 1570px #fff, 154px 93px #fff, 879px 1080px #fff, 671px 1006px #fff,
    1856px 1590px #fff, 1265px 1082px #fff, 717px 1342px #fff, 981px 1191px #fff,
    786px 907px #fff, 1423px 1218px #fff, 772px 891px #fff, 1656px 1378px #fff,
    1199px 1522px #fff, 6px 1888px #fff, 1299px 419px #fff, 1422px 1193px #fff,
    1446px 96px #fff, 1572px 976px #fff, 707px 1654px #fff, 952px 1821px #fff,
    133px 904px #fff, 952px 25px #fff, 1784px 1324px #fff, 1144px 1612px #fff,
    49px 196px #fff, 229px 275px #fff, 1071px 182px #fff, 796px 1124px #fff,
    213px 155px #fff, 1123px 1989px #fff, 377px 716px #fff, 1451px 1660px #fff,
    1057px 1156px #fff, 1707px 372px #fff, 918px 698px #fff, 175px 112px #fff,
    1273px 604px #fff, 869px 1908px #fff, 231px 1534px #fff, 1892px 364px #fff,
    190px 152px #fff, 18px 1304px #fff, 1460px 486px #fff, 1030px 265px #fff,
    726px 1136px #fff, 1909px 1016px #fff, 813px 744px #fff, 1006px 1590px #fff,
    1069px 1295px #fff, 1764px 1837px #fff, 443px 1238px #fff, 296px 1681px #fff,
    201px 249px #fff, 670px 497px #fff, 554px 1807px #fff, 1553px 269px #fff,
    1961px 1095px #fff, 458px 704px #fff, 1582px 1819px #fff, 454px 578px #fff,
    640px 1218px #fff, 770px 541px #fff, 1482px 982px #fff, 569px 1550px #fff,
    1675px 1650px #fff, 1169px 550px #fff, 587px 791px #fff, 375px 545px #fff,
    654px 1069px #fff, 342px 1317px #fff, 437px 1323px #fff, 673px 666px #fff,
    756px 1418px #fff, 1675px 1995px #fff, 832px 95px #fff, 710px 405px #fff,
    648px 266px #fff, 283px 1827px #fff, 696px 974px #fff, 388px 1924px #fff,
    922px 550px #fff, 1236px 1735px #fff, 1295px 499px #fff, 940px 1734px #fff,
    1337px 1146px #fff, 872px 239px #fff, 258px 1449px #fff, 431px 1283px #fff,
    725px 1917px #fff, 1856px 747px #fff, 53px 1360px #fff, 1570px 123px #fff,
    1027px 1992px #fff, 794px 1909px #fff, 480px 417px #fff, 1543px 1255px #fff,
    278px 465px #fff, 403px 765px #fff, 1414px 1835px #fff, 1542px 528px #fff,
    654px 1763px #fff, 1037px 566px #fff, 1748px 1877px #fff, 622px 1694px #fff,
    1886px 257px #fff, 402px 360px #fff, 1019px 1696px #fff, 1251px 1243px #fff,
    1344px 544px #fff, 1168px 615px #fff, 1994px 646px #fff, 642px 1162px #fff,
    128px 1100px #fff, 541px 1278px #fff, 1363px 730px #fff, 697px 391px #fff,
    1248px 1937px #fff, 1006px 365px #fff, 1663px 1964px #fff, 307px 801px #fff,
    587px 812px #fff, 544px 1893px #fff, 97px 952px #fff, 1836px 640px #fff,
    1691px 935px #fff, 120px 433px #fff, 1524px 1495px #fff, 124px 1972px #fff,
    1404px 93px #fff, 844px 435px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 522px 1243px #fff, 1929px 11px #fff, 144px 626px #fff,
    93px 1696px #fff, 1767px 1780px #fff, 1005px 812px #fff, 1143px 200px #fff,
    1398px 878px #fff, 618px 1499px #fff, 964px 1835px #fff, 1923px 56px #fff,
    565px 520px #fff, 185px 1287px #fff, 588px 487px #fff, 84px 1273px #fff,
    755px 1602px #fff, 1544px 1558px #fff, 1574px 1618px #fff, 440px 881px #fff,
    328px 1905px #fff, 1241px 1451px #fff, 1451px 85px #fff, 277px 370px #fff,
    1343px 799px #fff, 767px 606px #fff, 372px 774px #fff, 641px 302px #fff,
    950px 430px #fff, 634px 190px #fff, 1304px 5px #fff, 363px 1131px #fff,
    1995px 1390px #fff, 383px 1131px #fff, 1922px 1139px #fff,
    1766px 1145px #fff, 126px 1399px #fff, 343px 1617px #fff, 543px 81px #fff,
    1017px 748px #fff, 1177px 1332px #fff, 729px 359px #fff, 1469px 1194px #fff,
    891px 1111px #fff, 1326px 1505px #fff, 872px 1512px #fff, 297px 1347px #fff,
    1061px 1008px #fff, 349px 31px #fff, 1624px 1233px #fff, 1285px 374px #fff,
    1728px 1391px #fff, 964px 1389px #fff, 790px 873px #fff, 819px 1285px #fff,
    735px 1950px #fff, 383px 1804px #fff, 1159px 1479px #fff, 1596px 798px #fff,
    1155px 1685px #fff, 81px 1390px #fff, 582px 1558px #fff, 1376px 625px #fff,
    1606px 263px #fff, 1494px 673px #fff, 836px 1814px #fff, 189px 489px #fff,
    925px 1191px #fff, 159px 1575px #fff, 1216px 1021px #fff, 197px 946px #fff,
    935px 1570px #fff, 154px 93px #fff, 879px 1080px #fff, 671px 1006px #fff,
    1856px 1590px #fff, 1265px 1082px #fff, 717px 1342px #fff, 981px 1191px #fff,
    786px 907px #fff, 1423px 1218px #fff, 772px 891px #fff, 1656px 1378px #fff,
    1199px 1522px #fff, 6px 1888px #fff, 1299px 419px #fff, 1422px 1193px #fff,
    1446px 96px #fff, 1572px 976px #fff, 707px 1654px #fff, 952px 1821px #fff,
    133px 904px #fff, 952px 25px #fff, 1784px 1324px #fff, 1144px 1612px #fff,
    49px 196px #fff, 229px 275px #fff, 1071px 182px #fff, 796px 1124px #fff,
    213px 155px #fff, 1123px 1989px #fff, 377px 716px #fff, 1451px 1660px #fff,
    1057px 1156px #fff, 1707px 372px #fff, 918px 698px #fff, 175px 112px #fff,
    1273px 604px #fff, 869px 1908px #fff, 231px 1534px #fff, 1892px 364px #fff,
    190px 152px #fff, 18px 1304px #fff, 1460px 486px #fff, 1030px 265px #fff,
    726px 1136px #fff, 1909px 1016px #fff, 813px 744px #fff, 1006px 1590px #fff,
    1069px 1295px #fff, 1764px 1837px #fff, 443px 1238px #fff, 296px 1681px #fff,
    201px 249px #fff, 670px 497px #fff, 554px 1807px #fff, 1553px 269px #fff,
    1961px 1095px #fff, 458px 704px #fff, 1582px 1819px #fff, 454px 578px #fff,
    640px 1218px #fff, 770px 541px #fff, 1482px 982px #fff, 569px 1550px #fff,
    1675px 1650px #fff, 1169px 550px #fff, 587px 791px #fff, 375px 545px #fff,
    654px 1069px #fff, 342px 1317px #fff, 437px 1323px #fff, 673px 666px #fff,
    756px 1418px #fff, 1675px 1995px #fff, 832px 95px #fff, 710px 405px #fff,
    648px 266px #fff, 283px 1827px #fff, 696px 974px #fff, 388px 1924px #fff,
    922px 550px #fff, 1236px 1735px #fff, 1295px 499px #fff, 940px 1734px #fff,
    1337px 1146px #fff, 872px 239px #fff, 258px 1449px #fff, 431px 1283px #fff,
    725px 1917px #fff, 1856px 747px #fff, 53px 1360px #fff, 1570px 123px #fff,
    1027px 1992px #fff, 794px 1909px #fff, 480px 417px #fff, 1543px 1255px #fff,
    278px 465px #fff, 403px 765px #fff, 1414px 1835px #fff, 1542px 528px #fff,
    654px 1763px #fff, 1037px 566px #fff, 1748px 1877px #fff, 622px 1694px #fff,
    1886px 257px #fff, 402px 360px #fff, 1019px 1696px #fff, 1251px 1243px #fff,
    1344px 544px #fff, 1168px 615px #fff, 1994px 646px #fff, 642px 1162px #fff,
    128px 1100px #fff, 541px 1278px #fff, 1363px 730px #fff, 697px 391px #fff,
    1248px 1937px #fff, 1006px 365px #fff, 1663px 1964px #fff, 307px 801px #fff,
    587px 812px #fff, 544px 1893px #fff, 97px 952px #fff, 1836px 640px #fff,
    1691px 935px #fff, 120px 433px #fff, 1524px 1495px #fff, 124px 1972px #fff,
    1404px 93px #fff, 844px 435px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 831px 1017px #fff, 738px 71px #fff, 1927px 1720px #fff,
    1351px 962px #fff, 1465px 20px #fff, 1473px 903px #fff, 1256px 1927px #fff,
    918px 68px #fff, 1187px 760px #fff, 1351px 1237px #fff, 1580px 1781px #fff,
    406px 1316px #fff, 322px 574px #fff, 1088px 1120px #fff, 1250px 215px #fff,
    112px 143px #fff, 315px 1614px #fff, 1662px 930px #fff, 946px 955px #fff,
    482px 1634px #fff, 1703px 157px #fff, 641px 1404px #fff, 185px 1901px #fff,
    84px 881px #fff, 1656px 323px #fff, 1512px 1720px #fff, 1183px 374px #fff,
    1645px 1590px #fff, 1650px 916px #fff, 820px 1238px #fff, 102px 461px #fff,
    1201px 99px #fff, 403px 215px #fff, 1568px 1304px #fff, 937px 1506px #fff,
    1847px 1900px #fff, 560px 1439px #fff, 1356px 1058px #fff, 1918px 940px #fff,
    1269px 1572px #fff, 1224px 1833px #fff, 434px 1730px #fff, 694px 867px #fff,
    848px 1040px #fff, 500px 1586px #fff, 1171px 65px #fff, 1297px 1186px #fff,
    1885px 1346px #fff, 612px 322px #fff, 622px 883px #fff, 1926px 1036px #fff,
    213px 589px #fff, 1091px 126px #fff, 37px 187px #fff, 1089px 1347px #fff,
    1891px 1174px #fff, 1483px 1024px #fff, 1265px 1247px #fff, 1490px 41px #fff,
    1468px 1532px #fff, 1066px 604px #fff, 929px 760px #fff, 731px 1264px #fff,
    456px 1888px #fff, 551px 217px #fff, 1647px 228px #fff, 513px 1152px #fff,
    111px 1097px #fff, 1970px 1964px #fff, 351px 417px #fff, 1548px 929px #fff,
    1231px 882px #fff, 1109px 1709px #fff, 127px 497px #fff, 1452px 24px #fff,
    818px 985px #fff, 315px 532px #fff, 92px 737px #fff, 399px 719px #fff,
    1795px 1962px #fff, 1655px 127px #fff, 1003px 309px #fff, 1201px 454px #fff,
    1333px 1602px #fff, 377px 77px #fff, 450px 1165px #fff, 772px 675px #fff,
    887px 629px #fff, 572px 1559px #fff, 530px 395px #fff, 1111px 1717px #fff,
    225px 485px #fff, 1321px 928px #fff, 830px 407px #fff, 213px 466px #fff,
    1268px 1504px #fff, 1382px 1742px #fff, 1488px 1546px #fff, 54px 1657px #fff,
    800px 297px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 831px 1017px #fff, 738px 71px #fff, 1927px 1720px #fff,
    1351px 962px #fff, 1465px 20px #fff, 1473px 903px #fff, 1256px 1927px #fff,
    918px 68px #fff, 1187px 760px #fff, 1351px 1237px #fff, 1580px 1781px #fff,
    406px 1316px #fff, 322px 574px #fff, 1088px 1120px #fff, 1250px 215px #fff,
    112px 143px #fff, 315px 1614px #fff, 1662px 930px #fff, 946px 955px #fff,
    482px 1634px #fff, 1703px 157px #fff, 641px 1404px #fff, 185px 1901px #fff,
    84px 881px #fff, 1656px 323px #fff, 1512px 1720px #fff, 1183px 374px #fff,
    1645px 1590px #fff, 1650px 916px #fff, 820px 1238px #fff, 102px 461px #fff,
    1201px 99px #fff, 403px 215px #fff, 1568px 1304px #fff, 937px 1506px #fff,
    1847px 1900px #fff, 560px 1439px #fff, 1356px 1058px #fff, 1918px 940px #fff,
    1269px 1572px #fff, 1224px 1833px #fff, 434px 1730px #fff, 694px 867px #fff,
    848px 1040px #fff, 500px 1586px #fff, 1171px 65px #fff, 1297px 1186px #fff,
    1885px 1346px #fff, 612px 322px #fff, 622px 883px #fff, 1926px 1036px #fff,
    213px 589px #fff, 1091px 126px #fff, 37px 187px #fff, 1089px 1347px #fff,
    1891px 1174px #fff, 1483px 1024px #fff, 1265px 1247px #fff, 1490px 41px #fff,
    1468px 1532px #fff, 1066px 604px #fff, 929px 760px #fff, 731px 1264px #fff,
    456px 1888px #fff, 551px 217px #fff, 1647px 228px #fff, 513px 1152px #fff,
    111px 1097px #fff, 1970px 1964px #fff, 351px 417px #fff, 1548px 929px #fff,
    1231px 882px #fff, 1109px 1709px #fff, 127px 497px #fff, 1452px 24px #fff,
    818px 985px #fff, 315px 532px #fff, 92px 737px #fff, 399px 719px #fff,
    1795px 1962px #fff, 1655px 127px #fff, 1003px 309px #fff, 1201px 454px #fff,
    1333px 1602px #fff, 377px 77px #fff, 450px 1165px #fff, 772px 675px #fff,
    887px 629px #fff, 572px 1559px #fff, 530px 395px #fff, 1111px 1717px #fff,
    225px 485px #fff, 1321px 928px #fff, 830px 407px #fff, 213px 466px #fff,
    1268px 1504px #fff, 1382px 1742px #fff, 1488px 1546px #fff, 54px 1657px #fff,
    800px 297px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
