@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
}
.div {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* Menu */
.score-text {
  position: fixed;
  color: aqua;
  border-radius: 20px;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 9999;
}
.score-text p {
  font-family: "Press Start 2P", cursive;
  color: aqua;
}
#score {
  margin-right: 20px;
  font-family: "Press Start 2P", cursive;
  color: aqua;
  border: 0;
  background: transparent;
  width: 100px;
}
/* Modal */
/* Кнопка */
.btn-modal {
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  padding: 0 2rem;
  color: aqua;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.btn-modal:hover {
  color: rgb(13, 199, 199);
}

/* Модальное окно */
#modal-block {
  background-color: rgba(0, 0, 0, 0.6);
  color: aqua;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s;
  font-family: "Press Start 2P", cursive;
  z-index: 9999999;
}


#modal-block:target,
#modal-block.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
}

/* Заголовкии текст */
#modal-block h3 {
  margin: 20px 0;
  font-size: 1.7em;
}
#modal-block p {
  width: 70%;
  line-height: 1.9;
}
.keys {
  display: flex;
  align-items: center;

  margin-top: 10px;
}
.keys img {
  width: 100px;
  margin-right: 20px;
}
.block-inside {
  width: 50%;
  display: flex;
  flex-direction: column;
}
/* Кнопка закрыть */
.close-block {
  display: flex;
  position: absolute;
  top: 25%;
  right: 25%;
  padding: 0.5em;
  color: aqua;
  text-decoration: none;
  font-size: 3em;
  box-sizing: border-box;
}
.aud {
  width: 100px;
  height: 50px;
}

/* Cat */
.cat {
  animation: candleBob 3s ease-in-out infinite;
}
.cat img {
  width: 150px;
}
.scale {
  transform: scale(-1, 1);
}
@keyframes candleBob {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

/* Meteors */
.snowflake img {
  width: 150px;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: fixed;
  top: -100%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 5%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 95%;
  -webkit-animation-delay: 3s, 1s;
  animation-delay: 3s, 1s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 67%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.music {
  display: flex;
}
#musicPlay,
#musicStop {
  border: 1px solid aqua;
  padding: 10px;
  border-radius: 2px;
  margin-right: 20px;
  transition: 1s;
  cursor: pointer;
}
#musicPlay:hover {
  background: #00ffff29;
}
#musicStop:hover {
  background: #00ffff29;
}

.div {
  transition-timing-function: linear;
  transition-duration: 0.05s;
  transition-property: left, top;
}